<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments :: head}" />
</head>

<body class="bg-white">
    <div class=" ">
        <!-- Navbar Bootstrap -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Main Content -->
        <main class=" mt-4 container-md">
            <div th:replace="~{fragments :: toast-success}"></div>
            <div th:replace="~{fragments :: toast-error}"></div>

            <div class="row align-items-center px-3">
                <div class="col-md-2">
                    <a class="btn btn-primary w-100" th:href="@{/games/create}">Add new Game</a>
                </div>
                <div class="col-md-6 ms-auto">
                    <div th:replace="~{fragments :: search('games')}" />
                </div>
            </div>

            <section class="row">
                <div th:each="game : ${gamesPage.content}" th:object="${game}" class="d-flex col-3 mb-2 mt-2">
                    <div th:replace="~{fragments :: card-index(type='games')}" />
                </div>
            </section>
            
            <div th:replace="~{fragments :: pagination}"/>
        </main>
        <div th:replace="~{fragments :: footer}"></div>
    </div>

    <!-- Script Bootstrap -->
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <div th:replace="~{fragments :: toast-script}" />
</body>

</html>