<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments :: head}" />
</head>

<body class="bg-white">
    <div class=" ">
        <!-- Navbar Bootstrap -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Main Content -->
        <main class=" mt-4 container-md">
            <div th:replace="~{fragments :: toast-success}"></div>
            <div th:replace="~{fragments :: toast-error}"></div>
            <span th:text="${type}"></span>

            <div class="row align-items-center px-3">
                <div class="col-md-2">
                    <a class="btn btn-primary w-100" th:href="@{/genres/create}">Add new Genre</a>
                </div>
                <div class="col-md-6 ms-auto">
                    <div th:replace="~{fragments :: search('genres')}" />
                </div>
            </div>
            <section class="row">
                <div th:each="genre : ${genres}" th:object="${genre}" class=" col-3 my-2">

                    <h5>
                        <strong>Genre type: </strong>
                        <em th:text="${genre.name}" />
                    </h5>
                    <div class="d-flex gap-1">
                        <a class="btn btn-success" th:href="@{/genres/{id}(id=*{id})}">show</a>
                        <div th:replace="~{fragments :: btn-update-delete-genres}" />
                    </div>
                    <hr>

                </div>
            </section>
        </main>
        <div th:replace="~{fragments :: footer}"></div>
    </div>

    <!-- Script Bootstrap -->
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toastElList = [].slice.call(document.querySelectorAll('.toast'));
            toastElList.forEach(function (toastEl) {
                new bootstrap.Toast(toastEl).show();
            });
        });
    </script>
</body>

</html>