.navbar-nav li a:hover {
  color: white;
}

.navbar-brand {
  transition: transform 0.1s ease;
}

.navbar-brand:hover {
  transform: scale(1.3);
}

.fixed-height-card {
  max-height: 500px;
  width: 300px;
  overflow: hidden;
}


.fixed-height-card-show {
  width: 800px;

  img {
    height: 700px;
    object-fit: cover;
  }
}

.card-text {
  height: calc(100% * 0.4);
}

.card-img {
  height: calc(100% * 0.5);
}

.card-bot {
  height: calc(100% * 0.1);
}

.pad-bottom {
  padding-bottom: 600px;
  background-color: rgba(0, 255, 0, 0.1);
  /* per vedere lo spazio */
}
.pagination-margin{
  margin: 0px 100px;
}
/* footer */
footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.platform-logo-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: auto;
}

.platform-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-section h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: grey;
}

.footer-section ul li a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #777;
}