<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments :: head}" />
</head>

<body class="bg-white">
    <div class=" ">
        <!-- Navbar Bootstrap -->
        <div th:replace="~{fragments :: navbar}"></div>

        <!-- Main Content -->
        <main class=" mt-4 container-md">
            <form th:action="${edit} ? @{/genres/edit/{id}(id=*{id})} : @{/genres/create}" method="post"
                th:object="${genre}">
                <div class="mb-3">
                    <label for="name" class="form-label fw-bold">*Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}"
                        th:errorClass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li th:each="error: ${#fields.errors('name')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save the genre</button>
                    <button type="reset" class="btn btn-warning">Reset fields</button>
                </div>
            </form>
        </main>
        <div th:replace="~{fragments :: footer}"></div>
    </div>

    <!-- Script Bootstrap -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toastElList = [].slice.call(document.querySelectorAll('.toast'))
            toastElList.forEach(function (toastEl) {
                new bootstrap.Toast(toastEl).show()
            })
        });
    </script>
</body>

</html>