<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GamesSpot</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <!-- Navbar Bootstrap -->
    <div th:replace="~{fragments :: navbar}"></div>

    <!-- Main Content -->
    <main class="container mt-4">
        <!-- Contenuto principale qui -->
    </main>

    <!-- Script Bootstrap -->
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
