<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments :: head}" />

</head>

<body class="bg-white">
    <div class=" ">
        <!-- Navbar Bootstrap -->
        <div th:replace="~{fragments :: navbar}"></div>

        <!-- Main Content -->
        <main class=" "
            th:object="${game}">
           <div th:replace="~{fragments :: card-show}"/>
        </main>
        <div th:replace="~{fragments :: footer}"></div>
    </div>

    <!-- Script Bootstrap -->
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>